*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/gadget/*
!.gitkeep
/.claude
out
webui/node_modules
template/magisk_module/webroot/index.html
template/magisk_module/webroot/assets
template/magisk_module/webroot/main.js
